* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eff1f2;
  font-family: "Roboto", sans-serif;
  max-width: 1366px;
  max-height: 800px;
}

/* INICIO*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  left: 0px;
  top: 0px;
  background: #4a515f;
}

.header .titulo {
  width: 100%;
  font-size: 50px;
  font-weight: bolder;
  color: #eff1f2;
}
.header .encabezado {
  display: flex;
  justify-content: space-between;
}

.header h3 {
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #eff1f2;
}

.header a i {
  width: 100%;
  font-size: 45px;
  text-align: center;
  margin-right: 20px;
  color: #eff1f2;
}

.header a i:hover {
  width: 100%;
  font-size: 45px;
  text-align: center;
  color: #ffca28;
}
/* Responsive a partir de 600px*/
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .header .titulo {
    width: 100%;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: black;
  }

  .header h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: black;
  }

  .header a i {
    justify-content: center;
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    color: #3761a8;
  }

  .header a i:hover {
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: black;
  }
}

/*<section class="podedex"> INICIO*/
.texto {
  font-style: normal;
  font-weight: 400;
  font-size: 48.9159px;
  line-height: 59px;
  text-align: center;
  color: #4a515f;
}
.pokedex {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokedex .entrada {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pokedex .entrada input {
  width: 50%;
  text-align: center;
  padding: 10px;
  max-width: 500px;
  border: 3px solid #4a515f;
  border-radius: 10px;
  font-family: "Courier New";
  font-size: 20px;
}
.pokedex .entrada p {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 18px;
  font-family: "Courier New";
  font-weight: bolder;
}

.pokedex .entrada input:focus {
  border: 3px solid #ffca28;
  background-color: #c7d3d6;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 #c7d3d6;
  outline: 0 none;
}

.pokedex .entrada i {
  margin-left: 5px;
  padding: 10px;
  background-color: #4a515f;
  color: #eff1f2;
  border-radius: 10px;
  font-size: 25px;
}

.pokedex .entrada i:hover {
  background-color: #ffca28;
  box-shadow: 0 4px 6px 0 #eff1f2;
  color: #4a515f;
}

.pokedex .img-pokemon {
  width: 100%;
  display: flex;
align-items: center;
}

.pokedex .img-pokemon img {
  display: flex;
  width: 330px;
  align-items: center;
  margin-top: 20px;

}
.box1 {
  display: flex;
  align-items: flex-start;
  padding-bottom: 30px;
}
.box2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.box3 {
  border-radius: 20px;
  border: 3px solid #4a515f;
  background-color: #c7d3d6;
  padding: 5px;
  width: 250px;
  height: 180px;
  margin-right: 36px;
}
.estadisticas {
  border-radius: 20px;
  border: 3px solid #4a515f;
  background-color: #c7d3d6;
  padding: 5px;
  width: 250px;
  height: 180px;
  text-align: center;
}
.pokedex .datospokemon {
  display: none;
  width: 200px;
  height: 29px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  margin-top: 33px;
  margin-left: 150px;
  background-color: #c7d3d6;
  color: #4a515f;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid #4a515f;
}
.pokedex .datospokemon .estadisticas h4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #4a515f;
}
.pokedex .datospokemon .estadisticas p {
  color: #4a515f;
  text-align: right;
}
.pokedex .datospokemon .estadisticas h5 {
  color: #4a515f;
  font-weight: bolder;
}
.pokedex .datospokemon .error {
  display: none;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .pokedex .img-pokemon {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .pokedex .img-pokemon img {
    width: 45%;
  }
  .pokedex .datospokemon {
    width: 100%;
    max-width: 300px;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
/*<section class="podedex"> FIN*/

/*footer*/
.footer_final {
  position: absolute;
  height: 70px;
  margin-bottom: 0;
  margin-top: 75px;
  padding-bottom: 0;
  left: 0px;
  background: #4a515f;
}